.profile-container {
	width:100%;
	max-width:1180px;
	padding:0 30px;
	margin:32px auto;	
}

.profile-container header {
	display:flex;
	align-items:center;
}

.profile-container header img{
	height:54px;

}

.profile-container header input {
	width:40%;
	height:54px;
	font-size:16px;
	border-radius:4px;
	border:none;
	padding:0 25px;
	margin-left:20px;
}

.profile-container header a {
	width:280px;
	margin-left:auto;
	height:54px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-top:0;
}

.profile-container header .user {
	margin-left:20px;
	width:100%;
	max-width:50px;
	display:flex;
	align-items: center;
	position:relative;
}

.profile-container header .user .userProfile {
	width:30px;
	height:30px;
	border-radius:50%;
	background:#76D9D3;
	margin-right:2px;
}

.profile-container section {
	display:flex;
	margin-top: 100px;
	justify-content:space-between;
}

.profile-container section .category h1{
	font-size:35px;
	color:#2f2f2f;
}

.profile-container section .category ul {
	margin-top:20px;
	width:100%;
	max-width:200px;
	list-style-type:none;
}

.profile-container section .category ul li {
	font-size: 20px;
	font-weight:500;
	margin-bottom:20px;
	color:#1E1EFD;
	cursor:pointer;
	transition:all 0.2s;
}

.profile-container section .category ul li:hover {
	color:#6161FA;
	margin-left:3px;

}

.profile-container section .tasks ul{
	list-style-type:none;
	padding:0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:24px;

}

.profile-container section .tasks ul li {
	background:rgba(255,255,255,0.7);
	padding:10px 24px;
	border-radius:8px;
	position:relative;
	width:400px;

}

.tasks ul li p {
	width: 100%;
	font-size:16px;
	padding:2px;
	color:#3f3f3f;
	text-align: justify;
	text-justify:distribute;
}

.tasks ul li hr {
	margin:3px;
	color:#f1f1f1;
	border:1px solid #9f9f9f;
}

.tasks ul li span {
	font-size:14px;
	color:#336FE5;
	cursor:pointer;
	transition:font-weight 0.2s linear;

}

.tasks ul li span:hover {
	font-weight:500;
}

.tasks ul li small {
	font-weight:700;
	font-size:14px;
	color:#2f2f2f;
}

.features-put-delete {
	position:absolute;
	right:20px;
	top:10px;
}
.features-put-delete button {
	background:none;
	border:0;
	padding:2px;
	color:#6f6f6f;
	cursor:pointer;
	transition:all 0.2s;
}

.features-put-delete button:hover {
	filter:brightness(0.2);	
}





