.profile-container {
	width:100%;
	max-width:1180px;
	padding:0 30px;
	margin:32px auto;	
}



.profile-container form {
	display:flex;
	align-items:center;
}

.profile-container form h2 {
	border-bottom: 3px solid #777;
}

.profile-container form h2 span {
	color:#7f7f7f;
}

.profile-container form input {
	width:40%;
	height:54px;
	font-size:16px;
	border-radius:8px 0 0 8px;
	border:none;
	padding:0 25px;
	margin-left:20px;
	border:2px solid #0f0f0f;
	border-right: 0;
	background:#fff;
}


.profile-container form .buttonSearch {
	height:54px;
	width:54px;
	border-radius:0 8px 8px 0;
	border:2px solid #0f0f0f;
	border-left: 0;
	background:#fff;
	cursor:pointer;
}

.profile-container form a {
	width:280px;
	margin-left:auto;
	height:54px;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-top:0;
	background:#2f2f2f;
	transition:opacity 0.2s;
}

.profile-container form a:hover {
	opacity:0.8;
}


.profile-container form .user {
	margin-left:20px;
	width:100%;
	max-width:50px;
	display:flex;
	align-items: center;
	position:relative;
	cursor:pointer;
}

.profile-container form .user .userProfile {
	width:30px;
	height:30px;
	border-radius:50%;
	background:#76D9D3;
	margin-right:2px;
	position:relative;

}

.profile-container form .user .userProfile ul {
	position:absolute;
	left:-32px;
	top:40px;
	width:120px;
	height:150px;
	background:#fff;
	list-style-type:none;
	border:1px solid #6f6f6f;
	cursor:default;
}

.profile-container form .user .userProfile ul li {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	border:1px solid #f1f1f1;
	padding:5px;
	cursor:pointer;
}

.profile-container form .user .userProfile ul li:hover {
	border:1px solid #9f9f9f;
	background:#f2f2f2;
}


.profile-container section {
	display:flex;
	margin-top: 100px;
	justify-content:space-between;
}

.profile-container section hr {
	border:2px solid #6f6f6f;
}

.profile-container section .category h1{
	font-size:35px;
	color:#2f2f2f;
}

.profile-container section .category ul {
	margin-top:20px;
	width:100%;
	max-width:200px;
	list-style-type:none;
}

.profile-container section .category ul li {
	font-size: 20px;
	font-weight:500;
	margin-bottom:20px;
	color:#9f9f9f;
	cursor:pointer;
	transition:all 0.2s;
}

.profile-container section .category ul li:hover {
	color:#4f4f4f;
	margin-left:3px;

}

.profile-container section .tasks ul{
	list-style-type:none;
	padding:0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:24px;

}

.profile-container section .tasks ul li {
	border:2px solid #4f4f4f;
	background:#dfdfdf;
	padding:10px 24px;
	border-radius:8px;
	position:relative;
	width:400px;

}
	
.tasks ul li h1 {
	color:#0f0f0f;
}

.tasks ul li p {
	width: 100%;
	margin:0 auto;
	font-size:16px;
	padding:2px;
	color:#3f3f3f;
	text-align: justify;
	text-justify:distribute;
	
}

.tasks ul li hr {
	margin:3px;
	border:1px solid #afafaf;
}

.tasks ul li span {
	font-size:14px;
	color:#336FE5;
	cursor:pointer;
	transition:font-weight 0.2s linear;

}

.tasks ul li span:hover {
	font-weight:500;
}

.tasks ul li small {
	font-weight:700;
	font-size:14px;
	color:#2f2f2f;
}

.features-put-delete {
	position:absolute;
	right:20px;
	top:10px;
}
.features-put-delete .button-methods {
	background:none;
	border:0;
	padding:2px;
	color:#6f6f6f;
	cursor:pointer;
	transition:all 0.2s;
}

.features-put-delete .button-methods:hover {
	filter:brightness(0.2);	
}





