.register-container {
	width:100%;
	max-width:1120px;
	height: 100vh;
	margin:0 auto;

	display:flex;
	justify-content:space-between;
	align-items:center;
}

.register-container section {
	width:100%;
	max-width: 500px;
}

.register-container section h1 {
	font-weight: 700;
	font-size: 46px;
	text-align:center;

}

.register-container section img {
	width:100%;
	max-width:200px;
	display:flex;
	justify-content:center;

	margin:40px auto;
}

.register-container section p {
	width:80%;
	margin-top:20px;
	font-weight: 400;
	font-size: 18px;
	color: #5B5B5B;

}

.register-container form {
	max-width:500px;
	padding:30px 54px ;
	background: #FAFAFA;

	display:flex;
	flex-direction:column;
}

.register-container form input {
	margin:20px 0;
}

.register-container form .input-group {
	display:flex;
	justify-content:space-between;
}

.register-container form .input-group input {
	width:45%;
}




