.user-profile-container {
	width:100%;
	max-width:1120px;
	height: 100vh;
	margin:0 auto;

	display:flex;
	justify-content:space-between;
	align-items:center;
}

.user-profile-container section {
	width:100%;
	max-width: 500px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

.user-profile-container section h1 {
	font-size:40px;
	color:#0f0f0f;
}

.user-profile-container section img {
	width:90%;
	display:flex;
	justify-content:center;

	margin:40px auto;
}

.user-profile-container form {
	max-width:500px;
	padding:30px 54px ;
	background: #FAFAFA;
	border-radius:8px;

	display:flex;
	flex-direction:column;
}

.user-profile-container form input {
	margin:20px 0;
}

.user-profile-container form .input-group {
	display:flex;
	justify-content:space-between;
}

.user-profile-container form .input-group input {
	width:45%;
}
