@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
	margin:0;
	padding:0;
	outline:0;
	box-sizing:border-box;
}

body {
	font: 400 14px Roboto, sans-serif;
	background:#f1f1f1;/*background:linear-gradient(#EB9667, #66DDE4);*/
	-webkit-font-smoothing:antialiased;
	
}

input, button, textarea {
	font: 400 18px Roboto, sans-serif;
}

.button {
	cursor:pointer;
	width:100%;
	height:58px;
	border:none;
	background:#76D9D3;
	color:#363636;
	border-radius:5px;
	transition:filter 0.2s;
	color:#fff;
	font-size:20px;
	font-weight:500;
	letter-spacing:0.1em;
	text-decoration:none;
	text-transform:none;
}

.button:hover {
	filter: brightness(90%);
}



form input {
	width:100%;
	height:40px;
	border:none;
	border-bottom:2px solid #8D8D8D;
	color:#333;
	background:none;
	padding:20px;
}



.back-link {
	display:flex;
	align-items: center;
	margin-top:20px;
	color:#3E3E3E;
	font-size:16px;
	text-decoration: none;
	font-weight:500;
	text-decoration:none;
	text-transform:none;
	transition: opacity 0.2s;
}

.back-link svg {
	margin-right: 8px;
}

.back-link:hover {
	opacity:0.8;
}
