.edition-container {
	width:100%;
	max-width:1120px;
	height: 100vh;
	margin:0 auto;

	display:flex;
	justify-content:space-around;
	align-items:center;
}

.edition-container section {
	width:100%;
	max-width: 500px;
	display:flex;
	flex-direction:column;
	align-items:center;

}

.edition-container section h1 {
	font-weight: 700;
	font-size: 46px;
}

.edition-container section img {
	width:100%;
	max-width:200px;
	margin:40px auto;
}

.edition-container section p {
	margin-top:20px;
	font-weight: 400;
	font-size: 18px;
	color: #5B5B5B;
}

.edition-container form {
	width:100%;
	max-width:500px;
	padding:30px 54px;
	background: #FAFAFA;
	border-radius:8px;
	display:flex;
	flex-direction:column;
}


.edition-container form .group-input-select {
	display:flex;
	align-items: center;
}

.edition-container form .group-input-select select {
	width:40px;
	height:40px;
	margin-left:20px;

}

.edition-container form .group-input-select select option {
	background:white;
	color:black;
	font-size:16px;
}

.edition-container form input {
	margin:20px 0;
}

.edition-container form textarea {
	width:100%;
	min-height:160px;
	border:2px solid #8D8D8D;
	background:none;
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;
	line-height:24px;
	resize:vertical;
}







